$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//==================//
// Set variables    //
//==================//
$opacity-main: .55;


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
//==================//
// Bootstrap fixes  //
//==================//
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

//==================//
// Site wide resets //
//==================//
body {
  padding: 0;
  background-image: url("/images/bg-1.png");
  background-repeat: repeat;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing{
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.navbar-brand{
  position: relative;
  //margin-left: 50px;
  h3{
    margin-left: 40px;
  }
}
#logo{
  height: 50px;
  width: 50px;
  position: absolute;
  left: 0;
  top:0;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  .navbar-default{
    background-color: rgba(248, 248, 248, .6);
  }
  ul.nav li{
    border-left: 1px #808080 solid;

  }
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    //line-height: 40px;
    //padding-bottom: 19px;
  }
}

/* Custom content area*/
.main{
  margin-top: 80px;
}

/* Custom page footer */
.footer {
  height: 150px;
  position: relative;
  overflow: visible;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  .container{
    position: relative;
    background-color: rgba(255,255,255,$opacity-main);
  }
  .bg-holder{
    //position: absolute;
    position: fixed;
    height: 300px;
    width: 100%;
    //top:-100%;
    bottom: 0;
    background-image: url("/images/bg-2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  min-height: 200px;
  position: relative;
  z-index: 9;
  background-color: rgba(255,255,255,$opacity-main);
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  position: relative;
  z-index: 9;
  background-color: rgba(255,255,255,$opacity-main);


  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

